<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:property-placeholder-->
            <!--location="classpath:*.properties"-->
            <!--ignore-unresolvable="true"/>-->

    <!--<bean id="propertyConfigurer"-->
          <!--class="com.wangda.alarm.service.common.springconfig.MConfigDriver">-->
        <!--<property name="locations"> &lt;!&ndash; 本地文件&ndash;&gt;-->
            <!--<list>-->
                <!--<value>classpath:*.properties</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="MConfigLocations">&lt;!&ndash; 远程文件&ndash;&gt;-->
            <!--<set>-->
                <!--<value>profile.properties</value>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- 这里支持多种寻址方式：classpath和file -->
                <value>classpath:profile.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath*:spring/spring-datasource.xml"/>
    <import resource="classpath*:spring/spring-bean.xml"/>
    <import resource="classpath*:spring/spring-web.xml"/>
    <import resource="classpath*:spring/spring-filter.xml"/>
</beans>
